@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";

.text-light {
  color: $custom-grey !important;
}

.bg-black {
  background-color: $bg-back;
}

// forms
.vm-input-group {
  background-color: $black;
  border-radius: 15px;

  input.form-control {
    background-color: transparent;
    border: none;
    color: white;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}

.vm-btn-dropdown {
  min-width: 160px;

  .btn.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    color: $secondary;
    border: none;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:after {
      background-image: url(../icons/select-arrow.svg);
      width: 16px;
      height: 9px;
      border: none;
    }

    &[aria-expanded="true"] {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-menu {
    background-color: $black;

    li {
      line-height: 10px;
      font-size: 14px;

      a {
        color: $secondary;
        &:hover {
          background-color: inherit;
          color: $white;
        }
      }
    }

    .dropdown-divider {
      border-top-color: $custom-grey;
    }
  }
}