<template>
  <div>
    <AppToolbar />

    <b-container>
      <b-row class="mt-5">
        <b-col cols="12">
          <block-title>Favourite Voices</block-title>
          <voice-list
            :items="favorites"
            :favorites="favoriteIds"
            empty-message="You have no favorite voice yet. Try adding one clicking on the heart button of any voice!"
          />
        </b-col>
      </b-row>

      <b-row class="mt-5">
        <b-col cols="12">
          <block-title>Pro Voices</block-title>
          <voice-list :items="voices" :favorites="favoriteIds" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import AppToolbar from '../components/AppToolbar';
import VoiceList from '../components/VoiceList';
import { GET_FAVORITE_VOICES, GET_VOICES } from '../store';
import BlockTitle from '../components/BlockTitle';

export default {
  name: 'HomeView',

  components: { BlockTitle, VoiceList, AppToolbar },

  computed: {
    ...mapGetters({
      voices: GET_VOICES,
      favorites: GET_FAVORITE_VOICES
    }),

    favoriteIds() {
      return this.favorites.map(item => item.id);
    }
  }
};
</script>

<style scoped></style>
