<template>
  <b-container class="sticky-top bg-black">
    <b-navbar class="px-0" toggleable="lg">
      <b-navbar-toggle target="nav-collapse">
        <span class="nav-collapse__line"></span>
        <span class="nav-collapse__line"></span>
        <span class="nav-collapse__line"></span>
      </b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <search-form />
        </b-navbar-nav>

        <b-navbar-nav
          class="navbar-nav__items ml-auto justify-content-between justify-content-sm-start"
        >
          <div class="d-flex flex-column flex-sm-row">
            <tag-selector class="mr-3 flex-grow-1 mb-2 mb-sm-0" />
            <sort-selector class="mr-3 flex-grow-1" />
          </div>
          <random-selector class="flex-shrink-0 flex-shrink-sm-1" />
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </b-container>
</template>

<script>
import SearchForm from './SearchForm';
import TagSelector from './TagSelector';
import SortSelector from './SortSelector';
import RandomSelector from './RandomSelector';

export default {
  name: 'AppToolbar',

  components: { RandomSelector, SortSelector, TagSelector, SearchForm }
};
</script>

<style scoped lang="scss">
.navbar-toggler {
  .nav-collapse__line {
    transition: all 100ms linear;
    display: block;
    background-color: #fff;
    width: 24px;
    height: 2px;
    margin: 5px 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &[aria-expanded='true'] {
    .nav-collapse__line {
      transform-origin: left;
      width: 20px;
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        width: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}

@media screen and (max-width: 993px) {
  #nav-collapse {
    padding-top: 20px;
  }
  .navbar-nav__items {
    display: flex;
    flex-flow: row;
    margin-top: 20px;
  }
}
</style>
