<template>
  <h5 class="text-uppercase text-light vm-block-title mb-4">
    <span>
      <slot></slot>
    </span>
  </h5>
</template>

<script>
export default {
  name: 'BlockTitle'
};
</script>

<style scoped lang="scss">
@import 'src/assets/scss/variables';

.vm-block-title {
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid $custom-grey;
    border-top-width: thin;
    content: '';
    margin: 0 auto;
    z-index: -1;
  }

  span {
    background: $bg-back;
    padding: 0 15px 0 0;
  }
}
</style>
