<template>
  <b-input-group class="vm-input-group">
    <b-input-group-prepend>
      <img src="../assets/icons/search.svg" alt="Search" />
    </b-input-group-prepend>

    <b-form-input v-model="search" size="sm" />

    <b-input-group-append :class="{ 'is-visible': isClearable }" @click="clear">
      <img
        src="../assets/icons/search-close.svg"
        alt="Search"
        v-show="isClearable"
      />
    </b-input-group-append>
  </b-input-group>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { GET_SEARCH_STRING, SET_SEARCH_STRING_ACTION } from '../store';

export default {
  name: 'SearchForm',

  props: {
    value: {
      type: String,
      default: ''
    }
  },

  computed: {
    ...mapGetters({ searchString: GET_SEARCH_STRING }),

    search: {
      get() {
        return this.searchString;
      },
      set(value) {
        this.setSearchString({ searchString: value });
      }
    },

    isClearable() {
      return this.search.trim() !== '';
    }
  },

  methods: {
    ...mapActions({
      setSearchString: SET_SEARCH_STRING_ACTION
    }),

    clear() {
      this.setSearchString({ searchString: '' });
    }
  }
};
</script>

<style scoped lang="scss">
.input-group-append {
  width: 32px;
  text-align: center;

  &.is-visible:hover {
    cursor: pointer;
  }

  img {
    margin: 0 auto;
  }
}
</style>
