<template>
  <div>
    <img src="../assets/icons/filter.svg" class="mr-2" />
    <b-dropdown
      class="vm-btn-dropdown"
      right
      variant="dark"
      size="sm"
      :text="selectedTag"
    >
      <template v-for="(tag, index) in tags">
        <b-dropdown-item :key="tag" class="py-1" @click="setTag(tag)">
          {{ tag }}
        </b-dropdown-item>
        <b-dropdown-divider
          :key="`${tag}__divider`"
          v-if="index !== tags.length - 1"
        />
      </template>
    </b-dropdown>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { GET_SELECTED_TAG, GET_TAGS, SET_FILTER_TAG } from '../store';

export default {
  name: 'TagSelector',

  computed: {
    ...mapGetters({
      tags: GET_TAGS,
      selectedTag: GET_SELECTED_TAG
    })
  },

  methods: {
    ...mapActions({
      setSelectedTag: SET_FILTER_TAG
    }),

    setTag(tag) {
      this.setSelectedTag({ tag });
    }
  }
};
</script>

<style lang="scss"></style>
