<template>
  <div id="app">
    <HomeView></HomeView>
  </div>
</template>

<script>
import HomeView from './views/HomeView';
import { FETCH_VOICES } from './store';

export default {
  name: 'App',

  components: {
    HomeView
  },

  created() {
    this.$store.dispatch(FETCH_VOICES);
  }
};
</script>

<style lang="scss">
@import 'src/assets/scss/variables';

#app {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: $bg-back;
  min-height: 100vh;
}
</style>
